<!DOCTYPE html>
<html lang="en">
  <% include ./head %>
  <body>
    <div class="row">
      <div class="col-lg-12">
        <div class="alert alert-danger" role="alert">
          <h3>Error </h3><h5><%= error %><h5>
        </div>    
      </div>
    </div>
  </body>
</html>