<!DOCTYPE html>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="javascripts/bootstrap.min.js"></script>

<!-- Canvas JS -->
<script src="javascripts/canvasjs.min.js"></script>

<!-- Custom JS -->
<script src="javascripts/price-history.js"></script>
<script src="javascripts/utility.js"></script>
<script src="javascripts/productconfig.js"></script>
<script src="javascripts/smart-shopper.js"></script>
<script src="javascripts/globalconfig.js"></script>