<!DOCTYPE html>
<!-- Modal -->
<div class="modal fade" id="globalConfigModal" tabindex="-1" role="dialog" aria-labelledby="globalConfigModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
        <h4 class="modal-title" id="globalConfigModalLabel">Configuration</h4>
      </div>
      <div class="modal-body">        
        <form>
          <div class="form-group">
            <label for="crawlerSchedule" class="control-label">Crawler Schedule</label>
            <input type="text" class="form-control" id="crawlerSchedule" placeholder="Example: 2h 3m 5s">
          </div>     
          <div class="form-group">
            <label class="control-label">Email Notifications</label>
            <div class="btn-group btn-group-sm" role="group" aria-label="...">
              <button id="enableNotificationsBtn" type="button" class="btn btn-default">Enabled</button>
              <button id="disableNotificationsBtn" type="button" class="btn btn-default">Disabled</button>
            </div>
          </div>
        </form>      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="saveGlobalConfigBtn" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>