<!DOCTYPE html>
<html lang="en">
	<% include ./head %>
<body>
	<br>
	<% include ./productTable %>
	<% include ./priceHistory %>

	<% include ./globalConfigModal %>
	<% include ./productConfigModal %>
	<% include ./removeModal %>

	<% include ./footer %>
</body>
</html>