<!DOCTYPE html>
<div class="row">
    <div class="col-lg-5 col-lg-offset-1">
        <div class="panel panel-primary summary ss-hidden">
            <div class="panel-heading ">
                <h3 class="panel-title">Price History</h3>
            </div>    
        
            <div class="panel-body">
                <div class="price-history-chart" id="chartContainer">
                </div>
            </div>
        </div>
    </div>  
    <div class="col-lg-3">
        <div class="panel panel-primary summary ss-hidden">
            <div class="panel-heading ">
                <h3 class="panel-title">Summary</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info">
                        <strong>Desired Price:</strong>
                        <span class="desiredPrice pull-right"></span>
                    </li>
                    <li class="list-group-item list-group-item-info">
                        <strong>Current Price:</strong>
                        <span class="currentPrice pull-right"></span>
                    </li>
                    <li class="list-group-item list-group-item-success">
                        <strong>Low Price:</strong>
                        <span class="lowPrice pull-right"></span>
                    </li>
                    <li class="list-group-item list-group-item-warning">
                        <strong>Original Price:</strong>
                        <span class="originalPrice pull-right"></span>
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        <strong>High Price:</strong>
                        <span class="highPrice pull-right"></span>
                    </li>
                </ul>
            </div>
        </div>    
    </div>
</div>