<!DOCTYPE html>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="panel panel-primary productPanel">
      <div class="panel-heading">
        <div class="row">
          <div class="col-lg-2">
              <h3 class="panel-title">Tracked Products</h3>
          </div>             
          <div class="col-lg-1">
            <span class="glyphicon glyphicon-wrench glyphicon-bigger crawler-config pull-right"></span>
          </div>
          <div class="col-lg-8 col-lg-offset-1">
            <div class="input-group">
              <span class="input-group-addon">
                Example:
              </span>
              <input type="url" class="form-control productUrl" placeholder="http://www.walmart.ca/products/xbox.html">
              <span class="input-group-btn">
              <button class="btn btn-success" type="button" id="trackProductBtn">Track</button>
              </span>        
            </div>
          </div>          
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-hover" data-role="table" id="trackedProductsTable">
          <thead>
            <tr>
              <th>#</th>
              <th>Product Name</th>
              <th>Seller</th>
              <th>Price</th>
            <tr>    
          </thead>
          <tbody>                
          </tbody>
        </table>
      </div> <!-- Panel body -->
    </div> <!-- Panel -->
  </div>
</div> <!-- Row -->
<div class="hidden">
  <table class="table" data-role="table" id="hiddenTable">
    <tr class="sampleProductRow">
      <td></td>
      <td class="product-name">GTX 980</td>
      <td><a class="product-link" href="http://www.ikea.com/ca/en/catalog/products/70280479/" target="_blank">NCIX</a></td>
      <td class="product-price">$650</td>
      <td class="editIcon">
        <span class="ss-hidden pull-right glyphicon glyphicon-pencil glyphicon-bigger">
        </span>
      </td>
      <td class="deleteIcon">
        <span class="ss-hidden pull-right glyphicon glyphicon-remove-sign glyphicon-bigger">
        </span>
      </td>
    </tr>
  </table>
</div>