<!DOCTYPE html>
<!-- Modal -->
<div class="modal fade" id="productConfigModal" tabindex="-1" role="dialog" aria-labelledby="configModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="configModalLabel">Product Notification</h4>
      </div>
      <div class="modal-body">        
          <form class="form-horizontal">
            <div class="form-group">
              <div class="btn-group col-lg-2">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Notify Me: <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="selectPriceValue" href="#">When Price drops to</a></li>
                  <li><a class="selectPricePercent" href="#">When Price drops by</a></li>
                </ul>
              </div>
              <div id="targetedPriceValue" class="col-lg-4 hidden">
                <input type="text" class="form-control" placeholder="Enter amount in $">  
              </div>
              <div id="targetedPricePercent" class="col-lg-4 hidden">
                <input type="text" class="form-control" placeholder="Enter amount in %">  
              </div>
            </div>  
          </form>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="saveProductConfigBtn" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>