.productPanel .panel-body{
	height: 270px;
	max-height: 270px;	
	overflow-y: auto;
}

tbody { 
	max-height: 270px;	
	overflow-y: auto;
}

.crawler-config {
	cursor: pointer;
}

.glyphicon-bigger {
	font-size: 20px;
	color: #D0D0D0;
}

.ss-hidden {
	visibility: hidden;
}

tbody tr span {
	cursor: pointer;
}

.product-name {
	cursor: pointer;
}

.editIcon, .deleteIcon {
	width: 20px;
}

.selectedProduct
{
    border:solid 1px red;
}

.price-history-chart {
	height: 250px;
}